<a href="https://colab.research.google.com/github/slehkyi/notebooks-for-articles/blob/master/Web_Scrapping_Understats_com_for_xG_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Intro

In this notebook I will describe the process of scraping data from web portal [understat.com](https://) that has a lot of statistical information about all games in top 5 European football leagues.

From [understat.com](https://) home page:

* Expected goals (xG) is the new revolutionary football metric, which allows you to evaluate team and player performance.

* In a low-scoring game such as football, final match score does not provide a clear picture of performance.

* This is why more and more sports analytics turn to the advanced models like xG, which is a statistical measure of the quality of chances created and conceded.

* Our goal was to create the most precise method for shot quality evaluation.

* For this case, we trained neural network prediction algorithms with the large dataset (>100,000 shots, over 10 parameters for each).

* On this site, you will find our detailed xG statistics for the top European leagues.

At this moment they have not only xG metric, but much more, that makes this site perfect for scraping statistical data about football games.

We start by importing libraries that will be used in this project:
* numpy - fundamental package for scientific computing with Python
* pandas - library providing high-performance, easy-to-use data structures and data analysis tools
* requests - is the only Non-GMO HTTP library for Python, safe for human consumption. (love this line from official docs :D)
* BeautifulSoup - a Python library for pulling data out of HTML and XML files.

In [0]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import requests
from bs4 import BeautifulSoup

## Website research and structure of data

On the home page we can notice that the site has data for 6 European Leagues:

![leagues](content/leagues.PNG)


*   List item
*   List item

In [0]:
# create urls for all seasons of all leagues
base_url = 'https://understat.com/league'
leagues = ['La_liga', 'EPL', 'Bundesliga', 'Serie_A', 'Ligue_1', 'RFPL']
seasons = ['2014', '2015', '2016', '2017', '2018']

url = base_url+'/'+leagues[0]+'/'+seasons[4]
res = requests.get(url)
soup = BeautifulSoup(res.content)

# Based on the structure of the webpage, I found that data is in the JSON variable, under <script> tags
scripts = soup.find_all('script')

# Check our <script> tags
# for el in scripts:
#   print('*'*50)
#   print(el.text)

In [0]:
import json

string_with_json_obj = ''

# Find data for teams
for el in scripts:
    if 'teamsData' in el.text:
      string_with_json_obj = el.text.strip()
      
# print(string_with_json_obj)

# strip unnecessary symbols and get only JSON data
ind_start = string_with_json_obj.index("('")+2
ind_end = string_with_json_obj.index("')")
json_data = string_with_json_obj[ind_start:ind_end]

json_data = json_data.encode('utf8').decode('unicode_escape')

In [0]:
# convert JSON data into Python dictionary
data = json.loads(json_data)

# Print pretty JSON data to check out what we have there
# s = json.dumps(data, indent=4, sort_keys=True)
# print(s)

In [0]:
# Get teams and their relevant ids and put them into separate dictionary
teams = {}
for id in data.keys():
  teams[id] = data[id]['title']

In [7]:
# EDA to get a feeling of how the JSON is structured
# Column names are all the same, so we just use first element
columns = []
# Check the sample of values per each column
values = []
for id in data.keys():
  columns = list(data[id]['history'][0].keys())
  values = list(data[id]['history'][0].values())
  break

print(columns)
print(values)

['h_a', 'xG', 'xGA', 'npxG', 'npxGA', 'ppda', 'ppda_allowed', 'deep', 'deep_allowed', 'scored', 'missed', 'xpts', 'result', 'date', 'wins', 'draws', 'loses', 'pts', 'npxGD']
['a', 3.34997, 2.39239, 3.34997, 1.64976, {'att': 252, 'def': 19}, {'att': 263, 'def': 20}, 12, 5, 4, 1, 1.9829999999999999, 'w', '2018-08-19 21:15:00', 1, 0, 0, 3, 1.70021]

In [8]:
# Found that Sevilla has the id=138, so getting all the data for this team to be able to reproduce the same steps for all teams in the league.
sevilla_data = []
for row in data['138']['history']:
  sevilla_data.append(list(row.values()))
  
df = pd.DataFrame(sevilla_data, columns=columns)
df.head(2)

  h_a       xG       xGA     npxG     npxGA  ... wins draws  loses  pts     npxGD
0   a  3.34997  2.392390  3.34997  1.649760  ...    1     0      0    3  1.700210
1   h  1.97161  0.671429  1.97161  0.671429  ...    0     1      0    1  1.300181

[2 rows x 19 columns]

In [9]:
# Getting data for all teams
dataframes = {}
for id, team in teams.items():
  teams_data = []
  for row in data[id]['history']:
    teams_data.append(list(row.values()))
    
  df = pd.DataFrame(teams_data, columns=columns)
  dataframes[team] = df
  print('Added data for {}.'.format(team))

Added data for Sevilla.
Added data for Real Sociedad.
Added data for Espanyol.
Added data for Getafe.
Added data for Atletico Madrid.
Added data for Rayo Vallecano.
Added data for Valencia.
Added data for Athletic Club.
Added data for Barcelona.
Added data for Real Madrid.
Added data for Levante.
Added data for Celta Vigo.
Added data for Real Betis.
Added data for Villarreal.
Added data for Eibar.
Added data for Alaves.
Added data for Leganes.
Added data for Girona.
Added data for Real Valladolid.
Added data for SD Huesca.

In [10]:
# Sample check of our newly created DataFrame
dataframes['Barcelona'].head(2)

  h_a       xG       xGA     npxG     npxGA  ... wins draws  loses  pts     npxGD
0   h  3.26753  0.248353  3.26753  0.248353  ...    1     0      0    3  3.019177
1   a  1.20392  0.510742  1.20392  0.510742  ...    1     0      0    3  0.693178

[2 rows x 19 columns]

In [11]:
for team, df in dataframes.items():
  dataframes[team]['ppda_coef'] = dataframes[team]['ppda'].apply(lambda x: x['att']/x['def'])
  dataframes[team]['oppda_coef'] = dataframes[team]['ppda_allowed'].apply(lambda x: x['att']/x['def'])
  
# And check how our new dataframes look based on Sevilla dataframe
dataframes['Sevilla'].head(2)

  h_a       xG       xGA     npxG  ...  pts     npxGD  ppda_coef  oppda_coef
0   a  3.34997  2.392390  3.34997  ...    3  1.700210  13.263158   13.150000
1   h  1.97161  0.671429  1.97161  ...    1  1.300181  16.375000    9.115385

[2 rows x 21 columns]

In [0]:
cols_to_sum = ['xG', 'xGA', 'npxG', 'npxGA', 'deep', 'deep_allowed', 'scored', 'missed', 'xpts', 'wins', 'draws', 'loses', 'pts', 'npxGD']
cols_to_mean = ['ppda_coef', 'oppda_coef']

In [0]:
frames = []
for team, df in dataframes.items():
  sum_data = pd.DataFrame(df[cols_to_sum].sum()).transpose()
  mean_data = pd.DataFrame(df[cols_to_mean].mean()).transpose()
  final_df = sum_data.join(mean_data)
  final_df['team'] = team
  final_df['matches'] = len(df)
  frames.append(final_df)
  
full_stat = pd.concat(frames)

In [0]:
full_stat = full_stat[['team', 'matches', 'wins', 'draws', 'loses', 'scored', 'missed', 'pts', 'xG', 'npxG', 'xGA', 'npxGA', 'npxGD', 'ppda_coef', 'oppda_coef', 'deep', 'deep_allowed', 'xpts']]
full_stat.sort_values('pts', ascending=False, inplace=True)
full_stat.reset_index(inplace=True, drop=True)

In [0]:
full_stat['xG_diff'] = full_stat['xG'] - full_stat['scored']
full_stat['xGA_diff'] = full_stat['xGA'] - full_stat['missed']
full_stat['xpts_diff'] = full_stat['xpts'] - full_stat['pts']

In [0]:
cols_to_int = ['wins', 'draws', 'loses', 'scored', 'missed', 'pts', 'deep', 'deep_allowed']
full_stat[cols_to_int] = full_stat[cols_to_int].astype(int)

In [17]:
col_order = ['team', 'matches', 'wins', 'draws', 'loses', 'scored', 'missed', 'pts', 'xG', 'xG_diff', 'npxG', 'xGA', 'xGA_diff', 'npxGA', 'npxGD', 'ppda_coef', 'oppda_coef', 'deep', 'deep_allowed', 'xpts', 'xpts_diff']
full_stat = full_stat[col_order]
pd.options.display.float_format = '{:,.2f}'.format
full_stat.head(5)

               team  matches  wins  draws  ...  deep  deep_allowed  xpts  xpts_diff
0         Barcelona       38    26      9  ...   417           171 73.96     -13.04
1   Atletico Madrid       38    22     10  ...   252           190 59.43     -16.57
2       Real Madrid       38    21      5  ...   341           168 64.77      -3.23
3          Valencia       38    15     16  ...   278           215 65.16       4.16
4           Sevilla       38    17      8  ...   321           211 65.08       6.08
5            Getafe       38    15     14  ...   186           196 53.19      -5.81
6          Espanyol       38    14     11  ...   241           241 50.09      -2.91
7     Athletic Club       38    13     14  ...   221           185 50.01      -2.99
8     Real Sociedad       38    13     11  ...   194           208 51.13       1.13
9            Alaves       38    13     11  ...   129           270 44.02      -5.98
10       Real Betis       38    14      8  ...   241           220 52.39       2.39
11            Eibar       38    11     14  ...   235           177 56.75       9.75
12          Leganes       38    11     12  ...   155           190 51.15       6.15
13          Levante       38    11     11  ...   206           295 40.23      -3.77
14       Villarreal       38    10     14  ...   232           263 52.18       8.18
15       Celta Vigo       38    10     11  ...   195           248 41.63       0.63
16  Real Valladolid       38    10     11  ...   139           243 41.80       0.80
17           Girona       38     9     10  ...   177           261 45.17       8.17
18        SD Huesca       38     7     12  ...   171           259 44.96      11.96
19   Rayo Vallecano       38     8      8  ...   133           253 43.02      11.02

[20 rows x 21 columns]

In [21]:
season_data = dict()
season_data[seasons[4]] = full_stat
print(season_data)
full_data = dict()
full_data[leagues[0]] = season_data
print(full_data)

{'2018':                team  matches  wins  draws  ...  deep  deep_allowed  xpts  xpts_diff
0         Barcelona       38    26      9  ...   417           171 73.96     -13.04
1   Atletico Madrid       38    22     10  ...   252           190 59.43     -16.57
2       Real Madrid       38    21      5  ...   341           168 64.77      -3.23
3          Valencia       38    15     16  ...   278           215 65.16       4.16
4           Sevilla       38    17      8  ...   321           211 65.08       6.08
5            Getafe       38    15     14  ...   186           196 53.19      -5.81
6          Espanyol       38    14     11  ...   241           241 50.09      -2.91
7     Athletic Club       38    13     14  ...   221           185 50.01      -2.99
8     Real Sociedad       38    13     11  ...   194           208 51.13       1.13
9            Alaves       38    13     11  ...   129           270 44.02      -5.98
10       Real Betis       38    14      8  ...   241           220 52.39       2.39
11            Eibar       38    11     14  ...   235           177 56.75       9.75
12          Leganes       38    11     12  ...   155           190 51.15       6.15
13          Levante       38    11     11  ...   206           295 40.23      -3.77
14       Villarreal       38    10     14  ...   232           263 52.18       8.18
15       Celta Vigo       38    10     11  ...   195           248 41.63       0.63
16  Real Valladolid       38    10     11  ...   139           243 41.80       0.80
17           Girona       38     9     10  ...   177           261 45.17       8.17
18        SD Huesca       38     7     12  ...   171           259 44.96      11.96
19   Rayo Vallecano       38     8      8  ...   133           253 43.02      11.02

[20 rows x 21 columns]}
{'La_liga': {'2018':                team  matches  wins  draws  ...  deep  deep_allowed  xpts  xpts_diff
0         Barcelona       38    26      9  ...   417           171 73.96     -13.04
1   Atletico Madrid       38    22     10  ...   252           190 59.43     -16.57
2       Real Madrid       38    21      5  ...   341           168 64.77      -3.23
3          Valencia       38    15     16  ...   278           215 65.16       4.16
4           Sevilla       38    17      8  ...   321           211 65.08       6.08
5            Getafe       38    15     14  ...   186           196 53.19      -5.81
6          Espanyol       38    14     11  ...   241           241 50.09      -2.91
7     Athletic Club       38    13     14  ...   221           185 50.01      -2.99
8     Real Sociedad       38    13     11  ...   194           208 51.13       1.13
9            Alaves       38    13     11  ...   129           270 44.02      -5.98
10       Real Betis       38    14      8  ...   241           220 52.39       2.39
11            Eibar       38    11     14  ...   235           177 56.75       9.75
12          Leganes       38    11     12  ...   155           190 51.15       6.15
13          Levante       38    11     11  ...   206           295 40.23      -3.77
14       Villarreal       38    10     14  ...   232           263 52.18       8.18
15       Celta Vigo       38    10     11  ...   195           248 41.63       0.63
16  Real Valladolid       38    10     11  ...   139           243 41.80       0.80
17           Girona       38     9     10  ...   177           261 45.17       8.17
18        SD Huesca       38     7     12  ...   171           259 44.96      11.96
19   Rayo Vallecano       38     8      8  ...   133           253 43.02      11.02

[20 rows x 21 columns]}}

In [94]:
full_data = dict()
for league in leagues:
  
  season_data = dict()
  for season in seasons:    
    url = base_url+'/'+league+'/'+season
    res = requests.get(url)
    soup = BeautifulSoup(res.content)

    # Based on the structure of the webpage, I found that data is in the JSON variable, under <script> tags
    scripts = soup.find_all('script')
    
    string_with_json_obj = ''

    # Find data for teams
    for el in scripts:
        if 'teamsData' in el.text:
          string_with_json_obj = el.text.strip()

    # print(string_with_json_obj)

    # strip unnecessary symbols and get only JSON data
    ind_start = string_with_json_obj.index("('")+2
    ind_end = string_with_json_obj.index("')")
    json_data = string_with_json_obj[ind_start:ind_end]
    json_data = json_data.encode('utf8').decode('unicode_escape')
    
    
    # convert JSON data into Python dictionary
    data = json.loads(json_data)
    
    # Get teams and their relevant ids and put them into separate dictionary
    teams = {}
    for id in data.keys():
      teams[id] = data[id]['title']
      
    # EDA to get a feeling of how the JSON is structured
    # Column names are all the same, so we just use first element
    columns = []
    # Check the sample of values per each column
    values = []
    for id in data.keys():
      columns = list(data[id]['history'][0].keys())
      values = list(data[id]['history'][0].values())
      break
      
    # Getting data for all teams
    dataframes = {}
    for id, team in teams.items():
      teams_data = []
      for row in data[id]['history']:
        teams_data.append(list(row.values()))

      df = pd.DataFrame(teams_data, columns=columns)
      dataframes[team] = df
      print('Added data for {}.'.format(team))
      
    
    for team, df in dataframes.items():
      dataframes[team]['ppda_coef'] = dataframes[team]['ppda'].apply(lambda x: x['att']/x['def'] if x['def'] != 0 else 0)
      dataframes[team]['oppda_coef'] = dataframes[team]['ppda_allowed'].apply(lambda x: x['att']/x['def'] if x['def'] != 0 else 0)
      
    cols_to_sum = ['xG', 'xGA', 'npxG', 'npxGA', 'deep', 'deep_allowed', 'scored', 'missed', 'xpts', 'wins', 'draws', 'loses', 'pts', 'npxGD']
    cols_to_mean = ['ppda_coef', 'oppda_coef']
    
    frames = []
    for team, df in dataframes.items():
      sum_data = pd.DataFrame(df[cols_to_sum].sum()).transpose()
      mean_data = pd.DataFrame(df[cols_to_mean].mean()).transpose()
      final_df = sum_data.join(mean_data)
      final_df['team'] = team
      final_df['matches'] = len(df)
      frames.append(final_df)

    full_stat = pd.concat(frames)
    
    full_stat = full_stat[['team', 'matches', 'wins', 'draws', 'loses', 'scored', 'missed', 'pts', 'xG', 'npxG', 'xGA', 'npxGA', 'npxGD', 'ppda_coef', 'oppda_coef', 'deep', 'deep_allowed', 'xpts']]
    full_stat.sort_values('pts', ascending=False, inplace=True)
    full_stat.reset_index(inplace=True, drop=True)
    
    full_stat['xG_diff'] = full_stat['xG'] - full_stat['scored']
    full_stat['xGA_diff'] = full_stat['xGA'] - full_stat['missed']
    full_stat['xpts_diff'] = full_stat['xpts'] - full_stat['pts']
    
    cols_to_int = ['wins', 'draws', 'loses', 'scored', 'missed', 'pts', 'deep', 'deep_allowed']
    full_stat[cols_to_int] = full_stat[cols_to_int].astype(int)
    
    col_order = ['team', 'matches', 'wins', 'draws', 'loses', 'scored', 'missed', 'pts', 'xG', 'xG_diff', 'npxG', 'xGA', 'xGA_diff', 'npxGA', 'npxGD', 'ppda_coef', 'oppda_coef', 'deep', 'deep_allowed', 'xpts', 'xpts_diff']
    full_stat = full_stat[col_order]
    full_stat = full_stat.set_index('team')
    # print(full_stat.head(20))
    
    season_data[season] = full_stat
  
  df_season = pd.concat(season_data)
  full_data[league] = df_season
  
data = pd.concat(full_data)

Added data for Malaga.
Added data for Sevilla.
Added data for Deportivo La Coruna.
Added data for Real Sociedad.
Added data for Espanyol.
Added data for Getafe.
Added data for Atletico Madrid.
Added data for Rayo Vallecano.
Added data for Valencia.
Added data for Athletic Club.
Added data for Barcelona.
Added data for Real Madrid.
Added data for Levante.
Added data for Celta Vigo.
Added data for Villarreal.
Added data for Granada.
Added data for Eibar.
Added data for Cordoba.
Added data for Elche.
Added data for Almeria.
                     matches  wins  draws  ...  deep_allowed  xpts  xpts_diff
team                                       ...
Barcelona                 38    30      4  ...           114 94.08       0.08
Real Madrid               38    30      2  ...           153 81.75     -10.25
Atletico Madrid           38    23      9  ...           123 73.14      -4.86
Valencia                  38    22     11  ...           172 63.71     -13.29
Sevilla                   38    23      7  ...           168 67.39      -8.61
Villarreal                38    16     12  ...           171 62.74       2.74
Athletic Club             38    15     10  ...           171 53.36      -1.64
Celta Vigo                38    13     12  ...           207 55.05       4.05
Malaga                    38    14      8  ...           184 48.51      -1.49
Rayo Vallecano            38    15      4  ...           219 43.55      -5.45
Espanyol                  38    13     10  ...           205 50.38       1.38
Real Sociedad             38    11     13  ...           168 38.78      -7.22
Elche                     38    11      8  ...           216 40.67      -0.33
Getafe                    38    10      7  ...           221 40.10       3.10
Levante                   38     9     10  ...           224 37.60       0.60
Deportivo La Coruna       38     7     14  ...           188 43.52       8.52
Granada                   38     7     14  ...           206 45.73      10.73
Eibar                     38     9      8  ...           225 35.65       0.65
Almeria                   38     8      8  ...           220 39.33       7.33
Cordoba                   38     3     11  ...           253 36.29      16.29

[20 rows x 20 columns]
Added data for Malaga.
Added data for Sevilla.
Added data for Deportivo La Coruna.
Added data for Real Sociedad.
Added data for Espanyol.
Added data for Getafe.
Added data for Atletico Madrid.
Added data for Las Palmas.
Added data for Rayo Vallecano.
Added data for Valencia.
Added data for Athletic Club.
Added data for Barcelona.
Added data for Sporting Gijon.
Added data for Real Madrid.
Added data for Levante.
Added data for Celta Vigo.
Added data for Real Betis.
Added data for Villarreal.
Added data for Granada.
Added data for Eibar.
                     matches  wins  draws  ...  deep_allowed  xpts  xpts_diff
team                                       ...
Barcelona                 38    29      4  ...           163 94.38       3.38
Real Madrid               38    28      6  ...           211 79.09     -10.91
Atletico Madrid           38    28      4  ...           170 72.28     -15.72
Villarreal                38    18     10  ...           215 52.11     -11.89
Athletic Club             38    18      8  ...           174 58.24      -3.76
Celta Vigo                38    17      9  ...           245 53.08      -6.92
Sevilla                   38    14     10  ...           216 63.64      11.64
Malaga                    38    12     12  ...           191 53.08       5.08
Real Sociedad             38    13      9  ...           183 52.75       4.75
Real Betis                38    11     12  ...           283 40.49      -4.51
Valencia                  38    11     11  ...           250 46.73       2.73
Las Palmas                38    12      8  ...           250 41.18      -2.82
Espanyol                  38    12      7  ...           219 43.15       0.15
Eibar                     38    11     10  ...           218 54.03      11.03
Deportivo La Coruna       38     8     18  ...           240 46.08       4.08
Sporting Gijon            38    10      9  ...           265 40.61       1.61
Granada                   38    10      9  ...           268 38.50      -0.50
Rayo Vallecano            38     9     11  ...           240 45.78       7.78
Getafe                    38     9      9  ...           229 40.88       4.88
Levante                   38     8      8  ...           272 37.33       5.33

[20 rows x 20 columns]
Added data for Malaga.
Added data for Sevilla.
Added data for Deportivo La Coruna.
Added data for Real Sociedad.
Added data for Espanyol.
Added data for Atletico Madrid.
Added data for Las Palmas.
Added data for Valencia.
Added data for Athletic Club.
Added data for Barcelona.
Added data for Sporting Gijon.
Added data for Real Madrid.
Added data for Celta Vigo.
Added data for Real Betis.
Added data for Villarreal.
Added data for Granada.
Added data for Eibar.
Added data for Osasuna.
Added data for Alaves.
Added data for Leganes.
                     matches  wins  draws  ...  deep_allowed  xpts  xpts_diff
team                                       ...
Real Madrid               38    29      6  ...           173 86.17      -6.83
Barcelona                 38    28      6  ...           144 87.95      -2.05
Atletico Madrid           38    23      9  ...           168 69.10      -8.90
Sevilla                   38    21      9  ...           201 66.18      -5.82
Villarreal                38    19     10  ...           260 59.57      -7.43
Real Sociedad             38    19      7  ...           168 54.94      -9.06
Athletic Club             38    19      6  ...           167 60.54      -2.46
Espanyol                  38    15     11  ...           254 46.92      -9.08
Alaves                    38    14     13  ...           248 52.79      -2.21
Eibar                     38    15      9  ...           218 50.05      -3.95
Malaga                    38    12     10  ...           198 45.75      -0.25
Valencia                  38    13      7  ...           230 53.39       7.39
Celta Vigo                38    13      6  ...           241 42.63      -2.37
Las Palmas                38    10      9  ...           211 42.11       3.11
Real Betis                38    10      9  ...           217 44.56       5.56
Deportivo La Coruna       38     8     12  ...           232 51.16      15.16
Leganes                   38     8     11  ...           164 40.95       5.95
Sporting Gijon            38     7     10  ...           247 33.86       2.86
Osasuna                   38     4     10  ...           270 31.64       9.64
Granada                   38     4      8  ...           307 26.50       6.50

[20 rows x 20 columns]
Added data for Malaga.
Added data for Sevilla.
Added data for Deportivo La Coruna.
Added data for Real Sociedad.
Added data for Espanyol.
Added data for Getafe.
Added data for Atletico Madrid.
Added data for Las Palmas.
Added data for Valencia.
Added data for Athletic Club.
Added data for Barcelona.
Added data for Real Madrid.
Added data for Levante.
Added data for Celta Vigo.
Added data for Real Betis.
Added data for Villarreal.
Added data for Eibar.
Added data for Alaves.
Added data for Leganes.
Added data for Girona.
                     matches  wins  draws  ...  deep_allowed  xpts  xpts_diff
team                                       ...
Barcelona                 38    28      9  ...           188 79.44     -13.56
Atletico Madrid           38    23     10  ...           233 61.60     -17.40
Real Madrid               38    22     10  ...           188 79.99       3.99
Valencia                  38    22      7  ...           250 58.23     -14.77
Villarreal                38    18      7  ...           257 54.96      -6.04
Real Betis                38    18      6  ...           236 50.51      -9.49
Sevilla                   38    17      7  ...           233 58.61       0.61
Getafe                    38    15     10  ...           208 57.53       2.53
Eibar                     38    14      9  ...           168 50.79      -0.21
Girona                    38    14      9  ...           236 53.03       2.03
Celta Vigo                38    13     10  ...           274 48.83      -0.17
Espanyol                  38    12     13  ...           219 44.68      -4.32
Real Sociedad             38    14      7  ...           195 55.84       6.84
Alaves                    38    15      2  ...           277 39.03      -7.97
Levante                   38    11     13  ...           283 41.82      -4.18
Athletic Club             38    10     13  ...           204 54.13      11.13
Leganes                   38    12      7  ...           186 44.58       1.58
Deportivo La Coruna       38     6     11  ...           277 49.16      20.16
Las Palmas                38     5      7  ...           230 31.05       9.05
Malaga                    38     5      5  ...           256 35.83      15.83

[20 rows x 20 columns]
Added data for Sevilla.
Added data for Real Sociedad.
Added data for Espanyol.
Added data for Getafe.
Added data for Atletico Madrid.
Added data for Rayo Vallecano.
Added data for Valencia.
Added data for Athletic Club.
Added data for Barcelona.
Added data for Real Madrid.
Added data for Levante.
Added data for Celta Vigo.
Added data for Real Betis.
Added data for Villarreal.
Added data for Eibar.
Added data for Alaves.
Added data for Leganes.
Added data for Girona.
Added data for Real Valladolid.
Added data for SD Huesca.
                 matches  wins  draws  ...  deep_allowed  xpts  xpts_diff
team                                   ...
Barcelona             38    26      9  ...           171 73.96     -13.04
Atletico Madrid       38    22     10  ...           190 59.43     -16.57
Real Madrid           38    21      5  ...           168 64.77      -3.23
Valencia              38    15     16  ...           215 65.16       4.16
Sevilla               38    17      8  ...           211 65.08       6.08
Getafe                38    15     14  ...           196 53.19      -5.81
Espanyol              38    14     11  ...           241 50.09      -2.91
Athletic Club         38    13     14  ...           185 50.01      -2.99
Real Sociedad         38    13     11  ...           208 51.13       1.13
Alaves                38    13     11  ...           270 44.02      -5.98
Real Betis            38    14      8  ...           220 52.39       2.39
Eibar                 38    11     14  ...           177 56.75       9.75
Leganes               38    11     12  ...           190 51.15       6.15
Levante               38    11     11  ...           295 40.23      -3.77
Villarreal            38    10     14  ...           263 52.18       8.18
Celta Vigo            38    10     11  ...           248 41.63       0.63
Real Valladolid       38    10     11  ...           243 41.80       0.80
Girona                38     9     10  ...           261 45.17       8.17
SD Huesca             38     7     12  ...           259 44.96      11.96
Rayo Vallecano        38     8      8  ...           253 43.02      11.02

[20 rows x 20 columns]
Added data for Aston Villa.
Added data for Everton.
Added data for Southampton.
Added data for Leicester.
Added data for West Bromwich Albion.
Added data for Sunderland.
Added data for Crystal Palace.
Added data for Chelsea.
Added data for West Ham.
Added data for Tottenham.
Added data for Arsenal.
Added data for Swansea.
Added data for Stoke.
Added data for Newcastle United.
Added data for Liverpool.
Added data for Manchester City.
Added data for Manchester United.
Added data for Hull.
Added data for Burnley.
Added data for Queens Park Rangers.
                      matches  wins  draws  ...  deep_allowed  xpts  xpts_diff
team                                        ...
Chelsea                    38    26      9  ...           171 75.32     -11.68
Manchester City            38    24      7  ...           144 73.10      -5.90
Arsenal                    38    22      9  ...           171 75.17       0.17
Manchester United          38    20     10  ...           194 63.03      -6.97
Tottenham                  38    19      7  ...           232 48.94     -15.06
Liverpool                  38    18      8  ...           201 61.17      -0.83
Southampton                38    18      6  ...           183 62.82       2.82
Swansea                    38    16      8  ...           310 43.32     -12.68
Stoke                      38    15      9  ...           239 51.97      -2.03
Crystal Palace             38    13      9  ...           258 50.56       2.56
West Ham                   38    12     11  ...           316 47.22       0.22
Everton                    38    12     11  ...           245 50.91       3.91
West Bromwich Albion       38    11     11  ...           283 44.74       0.74
Leicester                  38    11      8  ...           287 44.64       3.64
Newcastle United           38    10      9  ...           239 45.63       6.63
Aston Villa                38    10      8  ...           237 40.89       2.89
Sunderland                 38     7     17  ...           313 44.18       6.18
Hull                       38     8     11  ...           261 41.32       6.32
Burnley                    38     7     12  ...           258 39.80       6.80
Queens Park Rangers        38     8      6  ...           298 40.28      10.28

[20 rows x 20 columns]
Added data for Aston Villa.
Added data for Everton.
Added data for Bournemouth.
Added data for Southampton.
Added data for Leicester.
Added data for West Bromwich Albion.
Added data for Sunderland.
Added data for Crystal Palace.
Added data for Norwich.
Added data for Chelsea.
Added data for West Ham.
Added data for Tottenham.
Added data for Arsenal.
Added data for Swansea.
Added data for Stoke.
Added data for Newcastle United.
Added data for Liverpool.
Added data for Manchester City.
Added data for Manchester United.
Added data for Watford.
                      matches  wins  draws  ...  deep_allowed  xpts  xpts_diff
team                                        ...
Leicester                  38    23     12  ...           275 68.94     -12.06
Arsenal                    38    20     11  ...           192 77.01       6.01
Tottenham                  38    19     13  ...           182 69.41      -0.59
Manchester United          38    19      9  ...           198 56.45      -9.55
Manchester City            38    19      9  ...           149 70.14       4.14
Southampton                38    18      9  ...           194 61.08      -1.92
West Ham                   38    16     14  ...           260 49.80     -12.20
Liverpool                  38    16     12  ...           158 63.29       3.29
Stoke                      38    14      9  ...           257 48.30      -2.70
Chelsea                    38    12     14  ...           194 59.62       9.62
Swansea                    38    12     11  ...           254 42.40      -4.60
Everton                    38    11     14  ...           304 52.69       5.69
Watford                    38    12      9  ...           241 48.25       3.25
West Bromwich Albion       38    10     13  ...           256 42.30      -0.70
Crystal Palace             38    11      9  ...           306 44.89       2.89
Bournemouth                38    11      9  ...           216 43.77       1.77
Sunderland                 38     9     12  ...           312 40.52       1.52
Newcastle United           38     9     10  ...           294 40.21       3.21
Norwich                    38     9      7  ...           267 39.18       5.18
Aston Villa                38     3      8  ...           300 29.81      12.81

[20 rows x 20 columns]
Added data for Everton.
Added data for Bournemouth.
Added data for Southampton.
Added data for Leicester.
Added data for West Bromwich Albion.
Added data for Sunderland.
Added data for Crystal Palace.
Added data for Chelsea.
Added data for West Ham.
Added data for Tottenham.
Added data for Arsenal.
Added data for Swansea.
Added data for Stoke.
Added data for Liverpool.
Added data for Manchester City.
Added data for Manchester United.
Added data for Watford.
Added data for Hull.
Added data for Burnley.
Added data for Middlesbrough.
                      matches  wins  draws  ...  deep_allowed  xpts  xpts_diff
team                                        ...
Chelsea                    38    30      3  ...           150 75.74     -17.26
Tottenham                  38    26      8  ...           182 75.37     -10.63
Manchester City            38    23      9  ...           131 85.41       7.41
Liverpool                  38    22     10  ...           134 69.83      -6.17
Arsenal                    38    23      6  ...           199 62.12     -12.88
Manchester United          38    18     15  ...           177 70.89       1.89
Everton                    38    17     10  ...           261 55.78      -5.22
Bournemouth                38    12     10  ...           321 43.17      -2.83
Southampton                38    12     10  ...           256 55.69       9.69
West Ham                   38    12      9  ...           297 46.04       1.04
West Bromwich Albion       38    12      9  ...           275 45.59       0.59
Stoke                      38    11     11  ...           253 52.29       8.29
Leicester                  38    12      8  ...           279 48.12       4.12
Crystal Palace             38    12      5  ...           297 48.45       7.45
Swansea                    38    12      5  ...           308 36.49      -4.51
Watford                    38    11      7  ...           240 40.62       0.62
Burnley                    38    11      7  ...           290 38.36      -1.64
Hull                       38     9      7  ...           326 30.73      -3.27
Middlesbrough              38     5     13  ...           320 37.25       9.25
Sunderland                 38     6      6  ...           334 32.24       8.24

[20 rows x 20 columns]
Added data for Everton.
Added data for Bournemouth.
Added data for Southampton.
Added data for Leicester.
Added data for West Bromwich Albion.
Added data for Crystal Palace.
Added data for Chelsea.
Added data for West Ham.
Added data for Tottenham.
Added data for Arsenal.
Added data for Swansea.
Added data for Stoke.
Added data for Newcastle United.
Added data for Liverpool.
Added data for Manchester City.
Added data for Manchester United.
Added data for Watford.
Added data for Burnley.
Added data for Huddersfield.
Added data for Brighton.
                      matches  wins  draws  ...  deep_allowed  xpts  xpts_diff
team                                        ...
Manchester City            38    32      4  ...            96 91.09      -8.91
Manchester United          38    25      6  ...           243 62.33     -18.67
Tottenham                  38    23      8  ...           162 76.02      -0.98
Liverpool                  38    21     12  ...           148 79.38       4.38
Chelsea                    38    21      7  ...           220 68.46      -1.54
Arsenal                    38    19      6  ...           203 65.90       2.90
Burnley                    38    14     12  ...           305 41.00     -13.00
Everton                    38    13     10  ...           297 47.00      -2.00
Leicester                  38    12     11  ...           268 55.85       8.85
Crystal Palace             38    11     11  ...           269 58.03      14.03
Bournemouth                38    11     11  ...           339 37.64      -6.36
Newcastle United           38    12      8  ...           287 46.24       2.24
West Ham                   38    10     12  ...           308 39.26      -2.74
Watford                    38    11      8  ...           237 46.69       5.69
Brighton                   38     9     13  ...           291 40.85       0.85
Huddersfield               38     9     10  ...           251 36.84      -0.16
Southampton                38     7     15  ...           277 48.72      12.72

In [0]:
data.to_csv('understat.com.csv')