<a href="https://colab.research.google.com/github/slehkyi/notebooks-for-articles/blob/master/Web_Scrapping_Understats_com_for_xG_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

import os
# print(os.listdir("../input"))

import requests
from bs4 import BeautifulSoup

In [0]:
# create urls for all seasons of all leagues
base_url = 'https://understat.com/league'
league = ['La_liga', 'EPL', 'Bundesliga', 'Serie_A', 'Ligue_1']
season = ['2014', '2015', '2016', '2017', '2018']

url = base_url+'/'+league[0]+'/'+season[4]
res = requests.get(url)
soup = BeautifulSoup(res.content)

# Based on the structure of the webpage, I found that data is in the JSON variable, under <script> tags
scripts = soup.find_all('script')

# Check our <script> tags
# for el in scripts:
#   print('*'*50)
#   print(el.text)

In [0]:
import json

string_with_json_obj = ''

# Find data for teams
for el in scripts:
    if 'teamsData' in el.text:
      string_with_json_obj = el.text.strip()
      
# print(string_with_json_obj)

# strip unnecessary symbols and get only JSON data
ind_start = string_with_json_obj.index("('")+2
ind_end = string_with_json_obj.index("')")
json_data = string_with_json_obj[ind_start:ind_end]

json_data = json_data.encode('utf8').decode('unicode_escape')

In [0]:
# convert JSON data into Python dictionary
data = json.loads(json_data)

# Print pretty JSON data to check out what we have there
# s = json.dumps(data, indent=4, sort_keys=True)
# print(s)

In [0]:
# Get teams and their relevant ids and put them into separate dictionary
teams = {}
for id in data.keys():
  teams[id] = data[id]['title']

In [0]:
# EDA to get a feeling of how the JSON is structured
# Column names are all the same, so we just use first element
columns = []
# Check the sample of values per each column
values = []
for id in data.keys():
  columns = list(data[id]['history'][0].keys())
  values = list(data[id]['history'][0].values())
  break

print(columns)
print(values)

['h_a', 'xG', 'xGA', 'npxG', 'npxGA', 'ppda', 'ppda_allowed', 'deep', 'deep_allowed', 'scored', 'missed', 'xpts', 'result', 'date', 'wins', 'draws', 'loses', 'pts', 'npxGD']
['a', 3.34997, 2.39239, 3.34997, 1.64976, {'att': 252, 'def': 19}, {'att': 263, 'def': 20}, 12, 5, 4, 1, 1.9829999999999999, 'w', '2018-08-19 21:15:00', 1, 0, 0, 3, 1.70021]

In [0]:
# Found that Sevilla has the id=138, so getting all the data for this team to be able to reproduce the same steps for all teams in the league.
sevilla_data = []
for row in data['138']['history']:
  sevilla_data.append(list(row.values()))
  
df = pd.DataFrame(sevilla_data, columns=columns)
df.head(2)

  h_a       xG       xGA     npxG     npxGA  ... wins draws  loses  pts     npxGD
0   a  3.34997  2.392390  3.34997  1.649760  ...    1     0      0    3  1.700210
1   h  1.97161  0.671429  1.97161  0.671429  ...    0     1      0    1  1.300181

[2 rows x 19 columns]

In [0]:
# Getting data for all teams
dataframes = {}
for id, team in teams.items():
  teams_data = []
  for row in data[id]['history']:
    teams_data.append(list(row.values()))
    
  df = pd.DataFrame(teams_data, columns=columns)
  dataframes[team] = df
  print('Added data for {}.'.format(team))

Added data for Sevilla.
Added data for Real Sociedad.
Added data for Espanyol.
Added data for Getafe.
Added data for Atletico Madrid.
Added data for Rayo Vallecano.
Added data for Valencia.
Added data for Athletic Club.
Added data for Barcelona.
Added data for Real Madrid.
Added data for Levante.
Added data for Celta Vigo.
Added data for Real Betis.
Added data for Villarreal.
Added data for Eibar.
Added data for Alaves.
Added data for Leganes.
Added data for Girona.
Added data for Real Valladolid.
Added data for SD Huesca.

In [0]:
# Sample check of our newly created DataFrame
dataframes['Barcelona'].head(2)

  h_a       xG       xGA     npxG     npxGA  ... wins draws  loses  pts     npxGD
0   h  3.26753  0.248353  3.26753  0.248353  ...    1     0      0    3  3.019177
1   a  1.20392  0.510742  1.20392  0.510742  ...    1     0      0    3  0.693178

[2 rows x 19 columns]

In [0]:
for team, df in dataframes.items():
  dataframes[team]['ppda_coef'] = dataframes[team]['ppda'].apply(lambda x: x['att']/x['def'])
  dataframes[team]['oppda_coef'] = dataframes[team]['ppda_allowed'].apply(lambda x: x['att']/x['def'])
  
# And check how our new dataframes look based on Sevilla dataframe
dataframes['Sevilla'].head(2)

  h_a       xG       xGA  ...  ppda_coef  ppda_allowed_coef oppda_coef
0   a  3.34997  2.392390  ...  13.263158          13.150000  13.150000
1   h  1.97161  0.671429  ...  16.375000           9.115385   9.115385

[2 rows x 22 columns]

In [0]:
cols_to_sum = ['xG', 'xGA', 'npxG', 'npxGA', 'deep', 'deep_allowed', 'scored', 'missed', 'xpts', 'wins', 'draws', 'loses', 'pts', 'npxGD']
cols_to_mean = ['ppda_coef', 'oppda_coef']

In [0]:
frames = []
for team, df in dataframes.items():
  sum_data = pd.DataFrame(df[cols_to_sum].sum()).transpose()
  mean_data = pd.DataFrame(df[cols_to_mean].mean()).transpose()
  final_df = sum_data.join(mean_data)
  final_df['team'] = team
  frames.append(final_df)
  
full_stat = pd.concat(frames)

In [0]:
full_stat['matches'] = 38.0
full_stat = full_stat[['team', 'matches', 'wins', 'draws', 'loses', 'scored', 'missed', 'pts', 'xG', 'npxG', 'xGA', 'npxGA', 'npxGD', 'ppda_coef', 'oppda_coef', 'deep', 'deep_allowed', 'xpts']]
full_stat.sort_values('pts', ascending=False, inplace=True)
full_stat.reset_index(inplace=True, drop=True)
full_stat.head(10)

              team  matches  wins  ...   deep  deep_allowed     xpts
0        Barcelona     38.0  26.0  ...  417.0         171.0  73.9604
1  Atletico Madrid     38.0  22.0  ...  252.0         190.0  59.4276
2      Real Madrid     38.0  21.0  ...  341.0         168.0  64.7728
3         Valencia     38.0  15.0  ...  278.0         215.0  65.1616
4          Sevilla     38.0  17.0  ...  321.0         211.0  65.0781
5           Getafe     38.0  15.0  ...  186.0         196.0  53.1872
6         Espanyol     38.0  14.0  ...  241.0         241.0  50.0883
7    Athletic Club     38.0  13.0  ...  221.0         185.0  50.0122
8    Real Sociedad     38.0  13.0  ...  194.0         208.0  51.1255
9           Alaves     38.0  13.0  ...  129.0         270.0  44.0162

[10 rows x 18 columns]